@model ClinicManagement.Core.ViewModel.DoctorFormViewModel
@{
    ViewBag.Title = "Edit Doctor";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Edit Doctor </h3>
                <div class="clearfix"></div>
            </div>
            <span hidden id="avDays" data="@string.Join(",",Model.AvailableDays)"> </span>
            <div class="x_content">
                <div class="form-horizontal form-label-left">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(m => m.Id)

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Name</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Specializations</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.Specialization, new SelectList(Model.Specializations, "Id", "Name"), "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Specialization)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Phone</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Address</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Available Days</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.AvailableDays, new SelectList(Model.Days, "Id", "Name"), "", new { @class = "form-control selectpicker ", @multiple = true, @id = "multipleSelect" })
                                @Html.ValidationMessageFor(m => m.AvailableDays)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">From</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               @Html.TextBoxFor(m => m.TimeFrom, new { @type = "time" } )
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">To</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.TimeTo, new { @type = "time" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-xs-12">Status</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="radio">
                                    <label> @Html.RadioButtonFor(model => model.IsAvailable, "true", new { @class = "flat" }) Available </label>
                                    <label> @Html.RadioButtonFor(model => model.IsAvailable, "false", new { @class = "flat" }) Closed </label>
                                </div>
                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <a href="@Url.Action("Details","Doctors", new{id =Model.Id})" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-success">Save</button>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    debugger
    var data = $('#avDays').attr('data');
    var dataList = data.split(",");
    $('#multipleSelect').val(dataList).prop('selected', true);
    //data.foreach(function (e) {

    //    $('#multipleSelect').val(e).trigger("change");
    //});
</script>


